<div class="containeryx">
  <div class="jb_main">
     <div class="banner_img">
        <img alt="关于我们" src="/img/about/about_banner3.jpg" _moz_resizing="true">
     </div>
  </div>
</div>

<div class="containeryx">
  <div class="column-left">
    <ul class="w_sitenav_list">
      <li>
        <a href="#" class="aSelect">关于我们</a>
      </li>
      <li>
        <ul class="w_sitenav_list2">
          <li>
            <a href="#">公司简介</a>
          </li>
          <li>
            <a href="#">总经理致辞</a>
          </li>
          <li>
            <a href="#">公司管理层</a>
          </li>
          <li>
            <a href="#">组织结构</a>
          </li>
          <li>
            <a href="#">公司治理</a>
          </li>
          <li>
            <a href="#">品牌形象</a>
          </li>
          <li>
            <a href="#">企业文化</a>
          </li>
          <li>
            <a href="#">党的建设</a>
          </li>
          <li>
            <a href="#">利益相关方</a>
          </li>
          <li>
            <a href="#">荣誉与业绩</a>
          </li>
          <li>
            <a href="#">公司报告及刊物</a>
          </li>
          <li>
            <a href="#">发展历程</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="column-right">
    <div class="conlumn-right-content">
      <div class="right_cont">
                <h2 class="right_contH">关于我们</h2>
                  <div class="about_cont" style="height:140px;">
                      <p style="text-indent: 2em; float: left; height: 120px;">加强页岩气勘查、开采，对提高我国能源资源保障能力，优化能源结构，改善生态环境，促进经济社会可持续发展，具有重要的战略意义。我们认真贯彻落实党中央的战略部署，牢牢把握稳中求进的工作总基调，立足长远抓当前、强基固本练内功，团结一心、攻坚克难，各方面工作取得新进步，成功开启了建设世界一流能源化工公司新航程。</p>
                      <p class="about_autograph">——摘自“总经理致辞”</p>
                  </div>
                  <div class="cont_pub">
                    <h2 class="cont_tlt1"><a href="/group/gsjs/gsgk/">公司简介</a></h2>
                      <div class="cont_intr">
                        <img src="/group/Resource/Image/pic22.jpg">
                          <div class="cont_intrTlt">
                            <p> 河南大豫能源开发利用有限公司,投资主体为洛阳豫兴能源开发利用有限公司及杭州锦江集团有限公司下属河南投资公司。在双方签订的合作意向书基础上共同成立一个以非常规气体开发利用为主的有限公司。公司注册资本金为人民币一亿元，总部地点设在现洛阳豫兴能源开发利用有限公司（洛阳市开元大道世贸中心）。</p>
                              <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/gsgk/">了解更多</a></b>
                          </div>
                      </div>
                  </div>
                  <div class="cont_pub">
                    <h2 class="cont_tlt2"><a href="">公司管理层</a></h2>
                      <div class="cont_intr">
                        <img src="/img/about/manager2.jpg">
                          <div class="cont_intrTlt">
                            <p>周红钦，男，河南大豫能源开发利用有限公司总经理，伊川县国土资源局副局长<br>中共党员，在职研究生硕士学位，工程师。2005年起伊川县国土资源局副局长…</p>
                            <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/gsglc/">了解更多</a></b>
                          </div>
                      </div>
                  </div>
                  <div class="cont_pub">
                    <h2 class="cont_tlt3"><a href="/group/gsjs/gszl/">公司治理</a></h2>
                      <div class="cont_intr">
                        <img src="/group/Resource/Image/pic24.jpg">
                          <div class="cont_intrTlt">
                            <p>自成立以来不断完善治理结构和体制机制，已初步形成了权责统一、运转协调、有效制衡的法人治理结构以及适应...</p>                            <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/gszl/">了解更多</a></b>
                          </div>
                      </div>
                  </div>
                  <div class="cont_pub">
                    <h2 class="cont_tlt4"><a href="/group/gsjs/ppxx/">品牌形象</a></h2>
                      <div class="cont_intr">
                        <img src="/group/Resource/Image/pic25.jpg">
                          <div class="cont_intrTlt">
                              <p>秉承可持续发展的理念，通过完备的上中下游产业链，肩负起社会责任、关注环境、提升消费者生活品质的神圣使命。和谐地连接为一个整体，寓意...</p>                            
                              <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/ppxx/">了解更多</a></b>
                          </div>
                      </div>
                  </div>
                  <div class="cont_pubSecond">
                    <div class="cont_pubSeLeft">
                          <div class="cont_pub cont_pubShow" id="id_PartyChangeCard">
                              <h2 class="cont_tlt5"><a href="" class="active">企业文化</a><a href="">党的建设</a></h2>
                              <div style="width: 320px; height: 125px; position: relative;">
                              <div class="cont_intr">
                                  <img src="/group/Resource/Image/pic26.jpg">
                                  <div class="cont_intrTlt">
                                        <p>根据集团公司的总体发展战略，企业精神和...</p>
                                        <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/qywh/">了解更多</a></b>
                                  </div>
                              </div>
                              <div class="cont_intr" style="display: none;">
                                  <img src="/group/Resource/Image/pic26.jpg">
                                  <div class="cont_intrTlt">
                                        <p>集团公司紧紧围绕“推动科...</p>
                                        <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/ddjs/">了解更多</a></b>
                                  </div>
                                 </div>
                              </div>
                          </div>
                      </div>
                    <div class="cont_pubSeRight">
                          <div class="cont_pub">
                              <h2 class="cont_tlt6"><a href="/group/gsjs/gszl/">公司治理</a></h2>
                              <div class="cont_intr">
                                  <img src="/group/Resource/Image/pic27.jpg">
                                  <div class="cont_intrTlt">
                                  <p>在履行社会责任上的不懈努力获得了国内外社会各界的广泛认可和赞誉，20...</p>                                    <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/gszl/">了解更多</a></b>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cont_pubSecond">
                    <div class="cont_pubSeLeft">
                          <div class="cont_pub">
                              <h2 class="cont_tlt7"><a href="/group/gsjs/lyxgz/">利益相关方</a></h2>
                              <div class="cont_intr">
                                  <img src="/group/Resource/Image/pic28.jpg">
                                  <div class="cont_intrTlt">
                                     <p>我们的利益相关者，包括政府、员工、客户、供应商与承包商、社区及公众、非政府组织和有关机...</p>                                    <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/lyxgz/">了解更多</a></b>
                                  </div>
                              </div>
                          </div>
                      </div>
                    <div class="cont_pubSeRight">
                          <div class="cont_pub">
                              <h2 class="cont_tlt8"><a href="/group/gsjs/fzlc/">发展历程</a></h2>
                              <div class="cont_intr">
                                  <img src="/group/Resource/Image/pic29.jpg">
                                  <div class="cont_intrTlt">
                                      <p>扩建工程投产。异地改造项目。...<br></p>
                                      <b class="b_more" style="margin-left:0px"><a href="/group/gsjs/fzlc/">了解更多</a></b>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cont_pubSecond">
                    <div class="cont_pubSeLeft">
                        <div class="about_list">
                            <div class="arrows_round"></div>
                            <p class=""><a></a></p>
    </div>
  </div>
</div>

