<div class="jb_main">
  <div class="containeryx">
    <div class="banner_img">
        <img alt="关于我们" src="/img/news/news_banner.jpg" _moz_resizing="true">
     </div>
  </div>

  <div class="containeryx">
    <div class="column-left">
      <ul class="w_sitenav_list">
        <li>
          <a href="#" class="aSelect">新闻中心</a>
        </li>
        <li>
          <ul class="w_sitenav_list2">
            <li>
              <a href="#">公司要闻</a>
            </li>
            <li>
              <a href="#">公司公告</a>
            </li>
            <li>
              <a href="#">高层动态</a>
            </li>
            <li>
              <a href="#">企业动态</a>
            </li>
            <li>
              <a href="#">图片新闻</a>
            </li>
            <li>
              <a href="#">行业与政策</a>
            </li>
            <li>
              <a href="#">视频新闻</a>
            </li>
            <li>
              <a href="#">媒体聚焦</a>
            </li>
            <li>
              <a href="#">热点专题</a>
            </li>
            <li>
              <a href="#">国资动态</a>
            </li>
            <li>
              <a href="#">书画走廊</a>
            </li>
            <li>
              <a href="#">员工摄影</a>
            </li>
            <li>
              <a href="#">党的建设</a>
            </li>
            <li>
              <a href="#">社会责任动态</a>
            </li>
            <li>
              <a href="#">人力资源最新动态</a>
            </li>
            <li>
              <a href="#">人物专栏</a>
            </li>
            <li>
              <a href="#">关爱员工</a>
            </li>
            <li>
              <a href="#">培训动态</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="column-right">
      <div class="conlumn-right-content">
        <div class="right_cont">
    <h2 class="right_contH">新闻中心</h2>
    <div class="cont_pubSecond3">
        <div class="cont_pubSeLeft3">
            <div class="cont_pub cont_pubNews newsPub1">
                <div class="arrows_news"></div>
                <ul class="pub_middle">
                    <li class="active"><a href="#">公司要闻</a></li>
                    <li><a href="#">公司公告</a></li>
                </ul>
                <div class="jb_ul_content">
                    <div style="width: 1225px; height: 269px; position: relative;">
                        <div class="content" style="display: block; position: absolute; top: 0px; left: 0px;">
                            <ol>
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <li><a href="#" title="公司正式成立">公司正式成立..</a><span>
2014-04-21</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="公司和单位、个人获表彰">公司和单位、个人获表彰..</a><span>
2014-04-21</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="勘探图发布">勘探图发布..</a><span>
2014-04-21</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="集团公司系统化管理工作">集团公司系统化管理工作</a><span>
2014-04-21</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="推进第一个示范项目建设">推进第一个示范项目建设</a><span>
2014-04-21</span></li>
                            </ol>
                            <b class="b_more" style="margin-left:0px;"><a href="#">了解更多</a></b>
                        </div>
                        <div class="content" style="display: none; position: absolute; top: 0px; left: 0px;">
                            <ol>
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <li><a href="#" title="关于召开董事会的通知">关于召开董事会的通知</a><span>
2014-04-11</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="变动月报表">变动月报表</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="关于销售业务重组的进展公告">关于销售业务重组的进展公告</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="关于股份变动情况的公告">关于股份变动情况的公告</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="申请表格（致登记股东）">申请表格</a><span>
2014-03-27</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="通知信函（致非登记股东）">通知信函</a><span>
2014-03-27</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="第五届董事会第十五次会议决议公告">第十五次会议决议公告</a><span>
2014-03-23</span></li>
                            </ol>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/gsgg">了解更多</a></b>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="cont_pub cont_pubNews newsPub2">
                <div class="arrows_news"></div>
                <ul class="pub_middle">
                    <li class="active"><a href="javascript:void(0)">企业动态</a></li>
                    <li><a href="javascript:void(0)">行业与政策</a></li>
                </ul>
                <div class="jb_ul_content">
                    <div style="width: 1225px; height: 269px; position: relative;">
                        <div class="content" style="display: block; position: absolute; top: 0px; left: 0px; ">
                            <ol>
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <li><a href="#" title="关于召开董事会的通知">关于召开董事会的通知</a><span>
2014-04-11</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="变动月报表">变动月报表</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="关于销售业务重组的进展公告">关于销售业务重组的进展公告</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="关于股份变动情况的公告">关于股份变动情况的公告</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="申请表格（致登记股东）">申请表格</a><span>
2014-03-27</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="通知信函（致非登记股东）">通知信函</a><span>
2014-03-27</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="第五届董事会第十五次会议决议公告">第十五次会议决议公告</a><span>
2014-03-23</span></li>
                            </ol>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/gsxw">了解更多</a></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_pub cont_pubNews newsPub3">
                <div class="arrows_news"></div>
                <ul class="pub_middle">
                    <li class="active"><a href="javascript:void(0)">党的建设</a></li>
                    <li><a href="javascript:void(0)">关爱员工</a></li>
                </ul>
                <div class="jb_ul_content">
                    <div style="width: 1225px; height: 101px; position: relative;">
                        <div class="content" style="display: block; position: absolute; top: 0px; left: 0px;">
                            <ol>
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <li><a href="#" title="关于召开董事会的通知">关于召开董事会的通知</a><span>
2014-04-11</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="变动月报表">变动月报表</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="关于销售业务重组的进展公告">关于销售业务重组的进展公告</a><span>
2014-04-02</span></li>
                            </ol>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/dqgz">了解更多</a></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_pub cont_pubNews newsPub4">
                <div class="arrows_news"></div>
                <ul class="pub_middle">
                    <li class="active"><a href="javascript:void(0)">社会责任动态</a></li>
                    <li><a href="javascript:void(0)">人力资源最新动态</a></li>
                    <li><a href="javascript:void(0)">培训动态</a></li>
                </ul>
                <div class="jb_ul_content">
                    <div style="width: 1225px; height: 101px; position: relative;">
                        <div class="content" style="display: block; position: absolute; top: 0px; left: 0px;">
                            <ol>
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <li><a href="#" title="关于召开董事会的通知">关于召开董事会的通知</a><span>
2014-04-11</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="变动月报表">变动月报表</a><span>
2014-04-02</span></li>
                                <!--[/RIF]--><!--[RIF]-->
                                <li><a href="#" title="关于销售业务重组的进展公告">关于销售业务重组的进展公告</a><span>
2014-04-02</span></li>
                            </ol>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/zxdt">了解更多</a></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_pub cont_pubNews sec_newsLast newsPub5" style="height:218px;">
                <div class="arrows_news"></div>
                <ul class="pub_middle" id="id_pub_middle_shwy">
                    <li class="active"><a href="javascript:void(0)">知识中心</a></li>
                    <li><a href="javascript:void(0)">书画走廊</a></li>
                    <li><a href="javascript:void(0)">员工摄影</a></li>
                </ul>
                <div class="sec_newsPubWrapper">
                    <div style="width: 366px; height: 209px; position: relative;">
                        <div class="sec_newsPub" style="display: block; position: absolute; top: 0px; left: 0px;">
                            <div class="sec_newsList">
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/qywh/shwy/20140421/news_20140421_383550614787.shtml" target="_blank" title="金沙黄水">金沙黄水</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/qywh/shwy/20140421/news_20140421_382860323145.shtml" target="_blank" title="舌尖上的绿豆粉">舌尖上的绿豆粉</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/qywh/shwy/20140421/news_20140421_381408011370.shtml" target="_blank" title="草色入青帘">草色入青帘</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/qywh/shwy/20140418/news_20140418_341321385965.shtml" target="_blank" title="青州寻古">青州寻古</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/qywh/shwy/20140418/news_20140418_334798384601.shtml" target="_blank" title="病树前头万木春">病树前头万木春</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/qywh/shwy/20140417/news_20140417_376620838071.shtml" target="_blank" title="落日余晖">落日余晖</a></p>
                                <!--[/RIF]-->
                                <!--[/Repeat]-->
                            </div>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/shwy">了解更多</a></b>
                        </div>
                        <div class="sec_newsPub" style="display: none; position: absolute; top: 0px; left: 0px;">
                            <div class="sec_newsList">
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/shzl/20110924/news_20110924_516610000000.shtml" target="_blank" title="孙志刚绘画作品欣赏">孙志刚绘画作品欣赏</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/shzl/20110924/news_20110924_514250000000.shtml" target="_blank" title="马大龙绘画作品欣赏">马大龙绘画作品欣赏</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/shzl/20110924/news_20110924_512020000000.shtml" target="_blank" title="孟庆宾国画作品欣赏">孟庆宾国画作品欣赏</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/shzl/20110924/news_20110924_509500000000.shtml" target="_blank" title="吴小敏绘画作品欣赏">吴小敏绘画作品欣赏</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/shzl/20110924/news_20110924_500300000000.shtml" target="_blank" title="陈玉清书法作品欣赏">陈玉清书法作品欣赏</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/shzl/20090811/news_20090811_364290000000.shtml" target="_blank" title="万幅剪纸献礼新中国六十华诞">万幅剪纸献礼新中国六十华诞</a></p>
                                <!--[/RIF]-->
                                <!--[/Repeat]-->
                            </div>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/shzl">了解更多</a></b>
                        </div>
                        <div class="sec_newsPub" style="display: none; position: absolute; top: 0px; left: 0px;">
                           <div class="sec_newsList">
                                <!--[Repeat]-->
                                <!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/ygsy/20140410/news_20140410_564253778081.shtml" target="_blank" title="《繁花迷人眼》王东亮 摄影">《繁花迷人眼》王东亮 摄影</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/ygsy/20110924/news_20110924_495550000000.shtml" target="_blank" title="《格桑花开》李俊颖 摄影">《格桑花开》李俊颖 摄影</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/ygsy/20110924/news_20110924_492770000000.shtml" target="_blank" title="陈国法摄影作品欣赏">陈国法摄影作品欣赏</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/ygsy/20110924/news_20110924_488010000000.shtml" target="_blank" title="《水墨荷韵》徐捷 摄影">《水墨荷韵》徐捷 摄影</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/ygsy/20110924/news_20110924_484470000000.shtml" target="_blank" title="《国香袭人》吴翠莲 摄影">《国香袭人》吴翠莲 摄影</a></p>
                                <!--[/RIF]--><!--[RIF]-->
                                <p><b class="bDot">•</b><a href="/group/xwzx/ygsy/20110327/news_20110327_383180000000.shtml" target="_blank" title="《三月的阳光》王东亮 摄影">《三月的阳光》王东亮 摄影</a></p>
                                <!--[/RIF]-->
                                <!--[/Repeat]-->
                            </div>
                            <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/ygsy">了解更多</a></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont_pubSeRight3">
            <div class="cont_pub cont_newPubR">
                <h2 class="cont_tlt10"><a href="/group/xwzx/tpxw">图片新闻</a></h2>
                <div class="news_list news_right news_lists width_242">
                    <ul>
                        <div style="width: 240px;height: 278px;position: relative;top:0px;">
                          <!--[Repeat]-->
                          <!--[RIF]-->
                            <li style="position: absolute; top: 0px; left: 0px; display: none;">
                                <a href="#" target="_blank">
                                    <img src="/img/slides/01.jpg"></a>
                                <h3><a href="#" title="世贸中心">世贸中心..</a></h3>
                                 <p>世贸中心效果图。</p>
                                <b class="b_more" style="margin-left:0px;"><a href="#">了解更多</a></b>
                            </li>
                          <!--[/RIF]--><!--[RIF]-->
                            <li style="position: absolute; top: 0px; left: 0px; display: list-item;">
                                <a href="#" target="_blank">
                                    <img src="/img/slides/02.jpg"></a>
                                <h3><a href="#" title="牡丹图">牡丹图..</a></h3>
                                 <p>牡丹图。</p>
                                <b class="b_more" style="margin-left:0px;"><a href="#">了解更多</a></b>
                            </li>
                        </div>
                    </ul>
                    <div class="news_bg_black">
                    <ol>
                        <li class=""><a>1</a></li>
                        <li class="active"><a>2</a></li>
                        <li class=""><a>3</a></li>
                    </ol>
                     </div>
                </div>
            </div>
            <div class="cont_pub cont_newPubR">
                <h2 class="cont_tlt10"><a href="#">视频新闻</a></h2>
                <div class="news_right news_lists width_242">
                    <ol>
                                    <!--[Repeat]-->
                                    <!--[RIF]-->
                                    <li><a href="#" title="关于召开董事会的通知">关于召开董事会的通知</a><span>
    2014-04-11</span></li>
                                    <!--[/RIF]--><!--[RIF]-->
                                    <li><a href="#" title="变动月报表">变动月报表</a><span>
    2014-04-02</span></li>
                                    <!--[/RIF]--><!--[RIF]-->
                                    <li><a href="#" title="关于销售业务重组的进展公告">关于销售业务重组的进展公告</a><span>
    2014-04-02</span></li>
                    </ol>
                </div>
            </div>
            <div class="cont_pub cont_newPubR" style="margin-top:10px;">
                <h2 class="cont_tlt10"><a href="/group/xwzx/rdzt">热点专题</a></h2>
                <div class="cont_intr cont_newsintr4 hot_topic" style="border-bottom:none; height:303px;">
                    <div class="bus_content02">
                        <div class="bus_pic_top"><a style="cursor:pointer">上一个</a></div>
                        <div class="bus_pic_middle">
                            <ul>               
                            </ul>
                        </div>
                        <div class="bus_pic_bottom"><a style="cursor:pointer">下一个</a></div>
                    </div>
                </div>
            </div>
            <div class="cont_pub cont_newPubR">
                <h2 class="cont_tlt10"><a href="/group/xwzx/rwzl">人物专栏</a></h2>
                <div class="news_right news_right2 people_topic">
                    <div class="news_listShow">
                        <ul class="news_listShow">
                            <div style="width: 238px; height: 158px; position: relative;">
                            </div>
                        </ul>
                        <a class="news_pre"></a>
                        <a class="news_next"></a>
                    </div>
                    <b class="b_more" style="margin-left:0px;"><a href="/group/xwzx/rwzl">了解更多</a></b>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</div>