<div class="jb_top">
    <div class="jb_logo left">
      <a href="#">
        豫兴能源
      </a>
    </div>
    <div class="jb_language right">
      <div class="jb_language_right">
        <a href="#" target="_blank">官方微博</a> | <a href="#" target="_blank">手机版</a> | <a href="#" target="_blank">繁体</a> | <a href="#">English</a>
      </div>
      <div class="jb_com jb_a width_487">
        <div class="right" style="margin-right:10px">
          <span class="span_a"><a href="/">首页</a>|<a href="#" target="_blank">豫兴能源</a>|<a href="#" target="_blank">豫兴能源股份有限公司</a></span>
          <span class="form_span">
            <input id="top_link_search_txt" name="" type="text">
            <a id="top_link_search_btn">
              search
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>